<% appropriate_style = recipient_number > settings.number_of_recipients ? 'display: none;' : '' %>

<div data-recipient-number="<%= recipient_number %>" style="<%= appropriate_style %>">
  <%= f.input "recipient#{recipient_number}_phone",
              label: "#{recipient_label(recipient_number)} phone",
              input_html: {size: 12} %>

</div>
