<% page_offset = 0 unless defined?(page_offset) && page_offset %>

<table class="calendar">
  <thead>
  <tr>
    <th>SUN</th>
    <th>MON</th>
    <th>TUE</th>
    <th>WED</th>
    <th>THU</th>
    <th>FRI</th>
    <th>SAT</th>
  </tr>
  </thead>

  <tbody>

  <%= render partial: @calendar.weeks(page_offset), locals: {f: f} %>

  </tbody>
</table>
