<table class="calendar">
  <thead>
  <tr>
    <th>SUN</th>
    <th>MON</th>
    <th>TUE</th>
    <th>WED</th>
    <th>THU</th>
    <th>FRI</th>
    <th>SAT</th>
  </tr>
  </thead>

  <tbody>

  <%= render partial: @calendar.weeks, locals: {f: nil} %>

  </tbody>
</table>
