/*
 *= require html5reset-1.6.1
 *= require_self
 *= require calendar
 *= require_tree ./screen
 */

fieldset {
  border: thin solid grey;
  margin: 20px 0 30px;
  width: 700px;
}

fieldset legend {
  margin-left: 2em;
  font-size: larger;
  padding: 0 0.6em;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.flash {
  text-align: center;
  padding:	.3em .4em;
  margin:		0 auto .5em;
  clear:		both;
  max-width:	46.923em; /* 610/13 */
  *max-width:	45.750em; /* 610/13.3333 - for IE */
}

.flash.error {
  border: thin solid #8b0000;
  background: #ffc0cb;
}

.flash.notice, .flash.info {
  border: thin solid #ff0;
  background: #ff3;
}

.flash.warning {
  border: thin solid #b8860b;
  background: #ff0;
}

.flash .close {
  float:	right;
}

.flash .close a {
  color:				#f00;
  text-decoration:	none;
}

form.settings {
  margin-top: 20px;
}

form.settings label {
  position: relative;
  top: 2px;
}

form.settings div.input > label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 1em;
  font-size: 12px;
  vertical-align: top;
}

form.settings div.input {
  margin: 1em 0;
}

form.settings div.input.radio > span {
  display: inline-block;
}

form.settings div.input.radio label {
  font-size: 12px;
  padding-left: 0.3em;
}

form.settings div.actions a {
  font-size: 14px;
  margin: 0 1em;
}

form.settings textarea {
  width: 600px;
  height: 120px;
}

form.settings .hint {
  font-style: italic;
  font-size: 11px;
  vertical-align: top;
  padding-left: 0.5em;
}

input.edit_input {
  width: 75px;
  font-size: 11px;
}

section.appointment td label {
  font-size: 11px;
  position: relative;
  top: 2px;
}

.copy-appointment-btn {
  font-size: 10px;
  height: 20px;
  background: #cbebbc;
}

.send-reminder-btn {
  font-size: 10px;
  height: 20px;
  background: #bccbeb;
  float: left;
}

.ui-menu {
  list-style: none;
  border: 1px solid #222;
  width: 90px;
  background: #fffafc;
  padding: 0 3px;
}

.ui-state-focus {
  background: #ffb3c2;
}

div.buttons {
  text-align: center;
  margin: 20px;
}

div.left-buttons {
  text-align: left;
  margin: 20px 0;
}

.buttons > input, .buttons > a {
  margin: 0 10px;
}

.buttons label {
  font-size: 150%;
  position: relative;
  top: 2px;
}

.cancel_btn {
  font-size: 24px;
  line-height: 50px;
  position: relative;
  top: 6px;
  padding-left: 25px;
}

.edit_btn {
  float: right;
}

.save_and_print_btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
  box-shadow:inset 0px 1px 0px 0px #fbafe3;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
  background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
  background-color:#ff5bb0;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  border-bottom-left-radius:10px;
  text-indent:0;
  border:1px solid #ee1eb5;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:36px;
  line-height:36px;
  width:175px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #c70067;
}
.save_and_print_btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
  background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
  background-color:#ef027d;
}.save_and_print_btn:active {
   position:relative;
   top:1px;
 }

.save_btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color:#9dce2c;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  border-bottom-left-radius:10px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:36px;
  line-height:36px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #689324;
}
.save_btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
  background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
  background-color:#8cb82b;
}.save_btn:active {
   position:relative;
   top:1px;
 }

.edit_btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color:#9dce2c;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  border-bottom-left-radius:10px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:30px;
  line-height:30px;
  width:67px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #689324;
}
.edit_btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
  background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
  background-color:#8cb82b;
}.edit_btn:active {
   position:relative;
   top:1px;
 }
